symbols = ["iota", "bitcoin", "ethereum", "polkadot-new", "cardano", "synthetix-network-token", "dash", "curve-dao-token", "1inch", "avalanche", "binance-coin", "tether", "crypto-com-coin", "litentry", "bakerytoken", "xrp", "binance-coin", "swipe", "terra-luna", "litecoin", "stellar", "usd-coin"]
regex_expressions = ["<a href=\".*?\">", "<a class=\".*?\" href=\".*?\">", "<div class=\".*?\">", "<a target=\".*?\" href=\".*?\" rel=\".*?\">", "<a target=\".*?\" rel=\".*?\" href=\".*?\">", "<a rel=\".*?\" target=\".*?\" href=\".*?\">"]
replace_expressions = ["<strong>", "</strong>", "<!-- -->", "<div>", "</div>", "<span>", "</span>", "</a>"]
about_regex = "<(h2)\\s{1}.{1,20}\\s{1}(class=\".*?\")>About.{1,30}</h2>"
what_is_regex = "<(h\\d)\\s{1}(.{1,20}=\"what-is-.*?\")>.*?</h\\d>"
title_regex = "<h\\d{1}.*?>(.*?)</h\\d{1}>"
price_regex = "<div class=\"priceValue_.*?\">(.*?)</div>"

[[replace]]
from = "<li>"
to = "- "

[[replace]]
from = "</li>"
to = "\\n"

[[replace]]
from = "<ul>"
to = ""

[[replace]]
from = "</ul>"
to = "\\n"

[[replace]]
from = "<p>"
to = ""

[[replace]]
from = "</p>"
to = "\\n"

[[replace]]
from = "<hr>"
to = "\\n"
