symbols = ['iota',
    'bitcoin',
    'ethereum',]
regex_expressions = ["<a href=\".*?\">", "<a class=\".*?\" href=\".*?\">", "<div class=\".*?\">", "<a target=\".*?\" href=\".*?\" rel=\".*?\">", "<a target=\".*?\" rel=\".*?\" href=\".*?\">", "<a rel=\".*?\" target=\".*?\" href=\".*?\">"]
replace_expressions = ["<strong>", "/strong>", "<!-- -->", "<div>", "</div>", "<span>", "</span>", "</a>"]
about_regex = "<(h2)\\s{1}.{1,20}\\s{1}(class=\".*?\")>About.{1,30}</h2>"
what_is_regex = "<(h\\d)\\s{1}(.{1,20}=\"what-is-.*?\")>.*?</h\\d>"

[[replace]]
from = "<li>"
to = "- "

[[replace]]
from = "</li>"
to = "\\n"

[[replace]]
from = "<p>"
to = ""
